@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

a {
  all: unset; }
  a:hover {
    cursor: pointer; }

body {
  background-color: white; }

.header {
  width: 100%;
  max-height: 70px;
  background-color: #0a0a0a;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  box-shadow: 0 1px 2px black; }
  .header .header_button {
    display: none;
    filter: drop-shadow(0 2px 1px #313131); }
  .header .header_title {
    margin-right: 30px; }
    .header .header_title .header_title-style {
      text-decoration: none;
      font-size: 3rem;
      font-weight: 500;
      color: #711fff;
      text-shadow: 0 0 10px #001948;
      display: flex;
      flex-direction: row; }
      .header .header_title .header_title-style img {
        height: 60px;
        object-fit: contain; }
      .header .header_title .header_title-style h1 {
        display: inline;
        font-size: 3rem; }
  .header .header_nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: flex-end;
    margin-left: 20px;
    margin-bottom: 10px; }
    .header .header_nav .header_quantity {
      padding: 5px;
      font-weight: 600;
      color: white; }
    .header .header_nav .header_nav-list {
      list-style: none;
      display: flex;
      flex-direction: row;
      margin-top: 33px;
      margin-left: -20px;
      border-top: solid 1px black;
      border-left: solid 1px black; }
      .header .header_nav .header_nav-list li {
        margin-right: 20px;
        text-decoration: none; }
        .header .header_nav .header_nav-list li a {
          font-size: 1rem;
          align-self: flex-end;
          color: #757575;
          text-decoration: none;
          cursor: pointer; }
          .header .header_nav .header_nav-list li a:hover {
            color: white;
            transition: color .3s; }
  @media (max-width: 1024px) {
    .header .header_nav {
      color: lightgrey;
      font-size: 1.5rem;
      flex-direction: row;
      flex-wrap: nowrap; }
      .header .header_nav .header_nav-list {
        justify-content: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 250px;
        height: 100vh;
        background-color: white;
        position: absolute;
        z-index: 8000; }
      .header .header_nav .header_nav-open {
        animation: slideOn 1s; }
    @keyframes slideOn {
      from {
        opacity: 0; }
      to {
        opacity: 100; } }
      .header .header_nav .header_nav-close {
        display: none;
        animation: slideOff 0.4s ease-in; }
    @keyframes slideOff {
      from {
        display: flex;
        opacity: 100; }
      to {
        opacity: 0; } }
      .header .header_nav .header_button {
        display: flex;
        align-self: flex-start;
        font-size: 1.5rem;
        text-shadow: 0 0 1.5px white;
        padding-left: 20px; }
        .header .header_nav .header_button:hover {
          cursor: pointer;
          color: white;
          transition: color 0.5s ease-in; } }

.main {
  display: flex;
  background: white; }
  .main .main_introduce {
    font-size: 2rem;
    display: block;
    text-align: center;
    background-color: #fdfdfd; }

.purchase {
  grid-area: counter;
  margin-top: 40px;
  width: 100%; }
  .purchase .amount {
    display: inline-flex;
    width: 160px;
    flex-direction: row;
    justify-content: space-between;
    background-color: #efefef;
    padding: 10px 5px;
    border-radius: 10px;
    box-shadow: 0 0 2px black; }
    .purchase .amount .amount_number {
      padding: 0 50px; }
  .purchase .purchase_buy {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #2470e3;
    border-radius: 5px; }
    .purchase .purchase_buy:hover {
      text-shadow: 0 0 2px white; }
    .purchase .purchase_buy:active {
      background-color: #1d5ec0; }
  .purchase .purchase_cart-flex {
    display: flex; }
  .purchase .purchase_cart {
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    background-color: royalblue; }

.product {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center; }
  .product .product_item {
    animation-duration: 0.3s;
    animation-name: slidein;
    width: 250px;
    height: 300px;
    margin: 10px;
    display: flex;
    align-content: left;
    flex-direction: column;
    border: solid 0.2px #c8c8c8;
    box-shadow: #bebebe 0 0 10px;
    overflow: hidden; }

@keyframes slidein {
  from {
    opacity: 0; }
  to {
    opacity: 100%; } }
    .product .product_item .product_description .product_description-title {
      font-size: 1rem;
      color: #001948;
      font-weight: 1000; }
    .product .product_item .product_description .product_description-price {
      font-size: 1rem;
      font-weight: 500;
      padding: 10px 0;
      text-align: center; }
    .product .product_item .product_image {
      height: 60%;
      margin: 0 auto; }
      .product .product_item .product_image .product_image-link img {
        height: 100%; }

.search {
  position: sticky;
  z-index: 7000;
  top: 0;
  min-width: 15%;
  height: 100vh;
  background-color: #6d6d6d;
  margin: 10px 0; }
  .search .search_title {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    color: rgba(28, 28, 28, 0.7); }
  .search .search_category {
    list-style: none;
    text-align: center;
    text-decoration: none;
    box-shadow: rgba(255, 132, 175, 0.7);
    transition: all .4s ease-in-out; }
    .search .search_category:hover {
      text-shadow: 0 0 10px white;
      background-color: rgba(215, 34, 235, 0.4); }

.item {
  display: grid;
  grid-template-areas: "image title" "image description" "image counter";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 150px); }
  .item .item_image {
    grid-area: image; }
    .item .item_image img {
      width: 700px; }
  .item .item_title {
    grid-area: title;
    font-size: 2rem; }
  .item .item_price {
    grid-area: description;
    font-size: 1.5rem;
    font-weight: 500; }
  .item .item_description {
    margin-top: 50px;
    grid-area: description; }

.items {
  margin: auto; }

.options {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  background-color: lightgrey;
  height: 100px; }
  .options .options_button {
    margin: auto;
    color: white; }
  .options .options_button-red {
    background-color: #ff5e5e;
    padding: 2px 15px;
    border-radius: 2px; }
  .options .options_resume .options_resume-style {
    font-weight: 700; }

.cut {
  height: 2px;
  width: 100%;
  background-color: white; }

.alert {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .alert .alert_return {
    text-shadow: black 0 0 2px; }

.cart {
  width: 100%;
  background-color: darkgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  background: linear-gradient(180deg, white 0%, #e6e3e3 100%); }
  .cart .cart_item {
    width: 70%;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: #b6b6b6 0 0 10px;
    border: solid #dbdbdb 3px;
    margin: 5px 0;
    display: grid;
    grid-template-areas: "image description counter"; }
    .cart .cart_item .cart_image {
      height: 75px;
      grid-area: image; }
    .cart .cart_item .cart_description-area {
      grid-area: description; }
    .cart .cart_item .cart_options {
      display: flex;
      flex-direction: column; }
      .cart .cart_item .cart_options .cart_options-red {
        background-color: rgba(255, 0, 0, 0.6);
        color: white;
        border-radius: 15px;
        padding: 5px;
        margin: auto; }
        .cart .cart_item .cart_options .cart_options-red:hover {
          cursor: pointer; }
      .cart .cart_item .cart_options .cart_options-green {
        all: unset;
        background-color: rgba(0, 255, 106, 0.6);
        border-radius: 15px;
        padding: 5px;
        margin: auto; }
        .cart .cart_item .cart_options .cart_options-green:hover {
          cursor: pointer; }

.account {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: rgba(134, 133, 147, 0.52);
  box-shadow: 0 0 10px blueviolet;
  height: calc(100vh - 72px); }
  .account .account_options {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    text-shadow: 0 0 5px black; }
  .account .account_option {
    text-align: center;
    color: white;
    padding-bottom: 10px; }
  .account .account_title {
    font-weight: 500;
    font-size: 1.4rem;
    text-shadow: 0 0 10px #321fac;
    border-bottom: solid rgba(65, 105, 225, 0.372); }

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto; }
  .form .form_option {
    font-size: 1.3rem;
    padding: 10px;
    margin: 5px;
    box-shadow: 0 0 2px #321fac; }

.login {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .login .login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto; }
    .login .login_form .login_input {
      font-size: 1.3rem;
      padding: 10px;
      margin: 5px;
      box-shadow: 0 0 2px #321fac; }

.flame {
  font-size: 3rem;
  margin: auto; }
